body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.coteiner{
    display: flex;
    padding: 0;
    }

.title{
    display: flex;
    justify-content: center; /* 水平方向中央揃え */
    align-items: center;    /* 垂直方向中央揃え */
    height: 25px;          /* コンテナの高さを指定 */
    padding: 20px;          /* 余白 */
    background-color: blue; /* 背景色 */
    text-align: center;     /* 複数行対応のテキスト中央揃え */
    width: 130px;
    margin-left:570px;
      }
       
.mainBox{
    background-color: yellow;
    height: 300px;
    width: 600px;
    padding-left: 50px;
    padding-top: 60px;
    color: black;
}